.contentCard{
    background-color: var(--cardBackgroundColor);
    margin:10px;
    border-radius: 15px;
}
.contentRow{
    justify-content: space-evenly;
    align-items: center;
    padding:20px;
    margin:0;
}

.contentRow * {
    box-sizing: border-box;
}
.card-list{
    text-align: left;
    width:50%;
    display:grid;
    grid-template-columns: 1fr 1fr;
}
.imgCarousel{
    max-height: 80%;
}
.collapseGroup{
    align-items: center;
}
.collapseButton{
    width:800px;
}
.collapseContent{
    width:800px;
}
@media screend and (max-width:768px){
    
}