body{
    margin:0;
    background-color: gray;
}
#flag{
    justify-content: center;
    min-width: 100vw;
    max-height: 20vh;
    flex: auto;
    display: flex;
    justify-content: center;
    border: solid 2px black;
    max-inline-size: 20%;

}
.card{
    justify-content: center;
    flex-direction: column;
    display: flex;
    width: 33vw;
    text-align: center;
    transition: border 100ms ease-out, border-radius 300ms ease-out;
    border: 1px solid black;
    margin: 0.8% 0.5% 0% 0%;
}
.card img{
    height:250px;
    width: 100%;
}

#history:hover {
    border: 4px solid rgb(13, 112, 4)
}
#culture:hover{
    border:4px solid white;
}

.content{
    display: flex;
}
