:root{
    --greenFlag: #009344;
    --whiteFlag: #ffffff;
    --redFlag: #cf2734;

    --backgroundColor: lightgray;
    --cardBackgroundColor: #6290C8; 
}
body{
    margin:0;
    background-color: var(--backgroundColor);
}
.container-fluid{
    
    min-width: 100vw;
    height: 100px;
    border: solid 2px black;
}
.row{height:100%;}
.green{background-color: var(--greenFlag);}
.white{background-color: var(--whiteFlag);}
.red{background-color: var(--redFlag);}
.card{
    width: 33vw;
    text-align: center;
    transition: border 100ms ease-out, border-radius 300ms ease-out;
    box-sizing: content-box;
    background-color: var(--cardBackgroundColor);
    border:4px solid var(--backgroundColor);
    margin: 0.8% 0.5% 0% 0%;
}
.card > img{
    align-self: center;
    max-width:100%;
    height:200px;
    object-fit: fill;
}
main{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#history:hover {border-color: var(--greenFlag);}
#culture:hover{border-color: var(--whiteFlag);}
#third:hover{border-color: var(--redFlag);}

.content{
    display: flex;
}
