
:root {
  --greenFlag: #009344;
  --whiteFlag: #ffffff;
  --redFlag: #cf2734;

  --backgroundColor: blue;
  --cardBackgroundColor: #6290c8;
}
body {
  margin: 0;
  background-color: var(--backgroundColor);
}
.container-fluid {
  min-width: 100vw;
  height: 150px;
  border-bottom: solid 4px black;
}

.row {
  height: 100%;
  text-align: center;
}
.green {
  background-color: var(--greenFlag);
}
.white {
  background-color: var(--whiteFlag);
}
.red {
  background-color: var(--redFlag);
}
img {
  object-fit: contain;
}

.card {
  cursor: pointer;
  text-align: center;
  transition: border 100ms ease-out, border-radius 300ms ease-out;
  box-sizing: content-box;
  background-color: var(--cardBackgroundColor);
  border: 4px solid var(--backgroundColor);
  border-radius: 15px;
  margin: 0.8% 0.5% 0% 0%;
}
.card-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
main {
  display: grid;
  justify-items: center;
}
#history:hover {
  border-color: var(--greenFlag);
}
#culture:hover {
  border-color: var(--whiteFlag);
}
#third:hover {
  border-color: var(--redFlag);
}

/*Radial Menu Button CSS*/
#homebutton{
    position:fixed;
    right:200px;
    bottom:200px;
}
.menu-toggler {
    position: absolute;
    display: block;
    top:0;
    bottom:0;
    right:0;
    left:0;
    margin:auto;
    width:40px;
    height:40px;
    z-index:2;
    opacity:0;
    cursor:pointer;
  }
  .menu-toggler:checked + label {
    background: transparent;
  }
  .menu-toggler:checked + label:before {
    transform: rotate(45deg) translateY(-15px) translateX(-15px);
  }
  .menu-toggler:checked + label:after {
    transform: rotate(-45deg);
  }
  .menu-toggler:checked ~ ul .menu-item { 
    opacity: 1;
  }
  .menu-toggler:checked ~ ul .menu-item:nth-child(1) {
    transform: rotate(0deg) translate(-110px);
  }
  .menu-toggler:checked ~ ul .menu-item:nth-child(2) {
    transform: rotate(60deg) translateX(-110px);
  }
  .menu-toggler:checked ~ ul .menu-item:nth-child(3) {
    transform: rotate(120deg) translateX(-110px);
  }
  .menu-toggler:checked ~ ul .menu-item:nth-child(4) {
    transform: rotate(180deg) translateX(-110px);
  }
  .menu-toggler:checked ~ ul .menu-item:nth-child(5) {
    transform: rotate(240deg) translateX(-110px);
  }
  .menu-toggler:checked ~ ul .menu-item:nth-child(6) {
    transform: rotate(300deg) translateX(-110px);
  }
  .menu-toggler:checked ~ ul .menu-item a {
    pointer-events:auto;
  }
  .menu-toggler + label {
    width: 40px;
    height: 5px;
    display: block;
    z-index: 1;
    border-radius: 2.5px;
    background: rgba(230, 239, 250, 0.9);
    transition: transform 0.5s top 0.5s;
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  .menu-toggler + label:before,
  .menu-toggler + label:after {
    width: 40px;
    height: 5px;
    display: block;
    z-index: 1;
    border-radius: 2.5px;
    background: rgba(255, 255, 255, 0.7);
    transition: transform 0.5s top 0.5s;
    content: "";
    position: absolute;
    display: block;
    left: 0;
  }
  .menu-toggler + label:before {
    top: 10px;
  }
  .menu-toggler + label:after {
    top: -10px;
  }
  .menu-item:nth-child(1) a {
    transform: rotate(0deg);
  }
  .menu-item:nth-child(2) a {
    transform: rotate(-60deg);
  }
  .menu-item:nth-child(3) a {
    transform: rotate(-120deg);
  }
  .menu-item:nth-child(4) a {
    transform: rotate(-180deg);
  }
  .menu-item:nth-child(5) a {
    transform: rotate(-240deg);
  }
  .menu-item:nth-child(6) a {
    transform: rotate(-300deg);
  }
  .menu-item {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 80px;
    height: 80px;
    opacity: 0;
    transition: 0.5s;
  }
  .menu-item a {
    display: block;
    width: inherit;
    height: inherit;
    line-height: 80px;
    color: rgba(255, 255, 255, 0.7);
    background: rgba(230, 230, 250, 0.7);
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    pointer-events: none;
    transition: 0.2s;
  }
  .menu-item a:hover {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.3);
    color: white;
    background: rgba(255, 255, 255, 0.3);
    font-size: 44.44px
  }
  
@media screen and (max-width: 768px) {
  main {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .card {
    width: 80%;
  }
  .card > img {
    height: 200px;
  }
}
@media screen and (min-width: 768px) {
  main {
    font-size: 1.3em;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .card {
    width: 30vw;
  }
  .card-body {
    column-gap: 5px;
  }
  .card > img {
    height: 200px;
  }
}
@media screen and (min-width: 1280px) {
  main {
    font-size: 1.5em;
  }
  .card {
    width: 33vw;
    max-width: 450px;
  }
  .card > img {
    height: 300px;
  }
}
